.header {
  padding: 10px 0;
  background-color: rgb(100, 100, 255);
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;

  border: 2px solid transparent;
  border-radius: 5px;
  overflow: hidden;

  &:focus-within {
    border: 2px solid #444;
  }
}

.input {
  display: block;
  width: 350px;
  padding: 15px;
  border: none;

  height: 50px;
  margin: 0;

  &:focus {
    outline: none;
  }
}

.button {
  display: block;
  margin: 0;
  cursor: pointer;
  height: 100%;
  width: 50px;
  border: none;
  background-image: url(../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
